In [1]:
## Shelf space allocation starter
import pandas as pd

In [2]:
p = pd.read_csv("products_set_30.csv")
p

,product_id,category_id,brand_id,width,height,depth,weight,monthly_demand,price,unit_margin
0,21825,212,35,117.070344,118.764574,102.134818,0.804767,7.000000,15.120002,5.557501
1,21824,212,35,116.022102,90.853203,104.057607,1.157446,7.666667,14.973333,7.591111
2,28643,212,35,80.341427,113.268308,103.574290,1.051726,14.333333,14.939252,8.326324
3,101120,212,35,116.095343,84.726862,121.180416,0.863353,6.333333,14.448980,10.785000
4,32857,212,35,123.952506,112.410127,76.651919,0.826438,2.666667,16.250000,10.642857
...,...,...,...,...,...,...,...,...,...,...
64,109659,212,424,100.000000,150.000000,110.000000,0.000850,25.000000,1.392000,0.860000
65,109658,212,424,100.000000,150.000000,110.000000,0.000850,33.000000,1.392500,0.831250
66,109660,212,424,100.000000,150.000000,110.000000,0.000850,27.333333,1.241765,0.767059
67,109657,212,424,100.000000,150.000000,110.000000,0.000850,30.333333,1.252581,0.773226
68,109656,212,424,100.000000,150.000000,110.000000,0.000850,25.000000,1.259091,0.781212

In [3]:
# derived metrics
p['monthly_profit'] = p['unit_margin'] * p['monthly_demand']
p['monthly_profit_per_width'] = p['monthly_profit'] / p['width']
p

,product_id,category_id,brand_id,width,height,depth,weight,monthly_demand,price,unit_margin,monthly_profit,monthly_profit_per_width
0,21825,212,35,117.070344,118.764574,102.134818,0.804767,7.000000,15.120002,5.557501,38.902507,0.332300
1,21824,212,35,116.022102,90.853203,104.057607,1.157446,7.666667,14.973333,7.591111,58.198518,0.501616
2,28643,212,35,80.341427,113.268308,103.574290,1.051726,14.333333,14.939252,8.326324,119.343977,1.485460
3,101120,212,35,116.095343,84.726862,121.180416,0.863353,6.333333,14.448980,10.785000,68.305000,0.588353
4,32857,212,35,123.952506,112.410127,76.651919,0.826438,2.666667,16.250000,10.642857,28.380952,0.228966
...,...,...,...,...,...,...,...,...,...,...,...,...
64,109659,212,424,100.000000,150.000000,110.000000,0.000850,25.000000,1.392000,0.860000,21.500000,0.215000
65,109658,212,424,100.000000,150.000000,110.000000,0.000850,33.000000,1.392500,0.831250,27.431250,0.274313
66,109660,212,424,100.000000,150.000000,110.000000,0.000850,27.333333,1.241765,0.767059,20.966279,0.209663
67,109657,212,424,100.000000,150.000000,110.000000,0.000850,30.333333,1.252581,0.773226,23.454522,0.234545
68,109656,212,424,100.000000,150.000000,110.000000,0.000850,25.000000,1.259091,0.781212,19.530300,0.195303

In [4]:
# top products by monthly profit
p.sort_values('monthly_profit', ascending=False).head(10)

,product_id,category_id,brand_id,width,height,depth,weight,monthly_demand,price,unit_margin,monthly_profit,monthly_profit_per_width
2,28643,212,35,80.341427,113.268308,103.574290,1.051726,14.333333,14.939252,8.326324,119.343977,1.485460
10,21823,212,35,117.993334,75.588496,108.863367,0.876497,11.666667,15.276304,8.174063,95.364068,0.808216
9,32858,212,35,103.884262,83.384733,92.340910,0.929074,10.000000,15.392857,8.829384,88.293840,0.849925
3,101120,212,35,116.095343,84.726862,121.180416,0.863353,6.333333,14.448980,10.785000,68.305000,0.588353
13,21822,212,35,91.150902,105.657972,98.101289,0.840632,11.666667,15.246135,5.748333,67.063885,0.735746
7,101119,212,35,76.993959,116.584737,123.057061,0.767257,5.666667,15.766667,11.722222,66.425925,0.862742
56,34536,212,371,91.335617,84.671817,79.817056,0.766824,96.333333,1.213363,0.617788,59.513577,0.651592
1,21824,212,35,116.022102,90.853203,104.057607,1.157446,7.666667,14.973333,7.591111,58.198518,0.501616
57,34541,212,371,101.954078,117.471251,123.942685,1.132393,79.333333,1.193784,0.621264,49.286944,0.483423
51,113016,212,371,92.000000,146.000000,157.000000,0.006800,8.333333,9.842857,5.640000,47.000000,0.510870

In [5]:
# top products by monthly profit per unit width
p.sort_values('monthly_profit_per_width', ascending=False).head(10)

,product_id,category_id,brand_id,width,height,depth,weight,monthly_demand,price,unit_margin,monthly_profit,monthly_profit_per_width
2,28643,212,35,80.341427,113.268308,103.574290,1.051726,14.333333,14.939252,8.326324,119.343977,1.485460
7,101119,212,35,76.993959,116.584737,123.057061,0.767257,5.666667,15.766667,11.722222,66.425925,0.862742
9,32858,212,35,103.884262,83.384733,92.340910,0.929074,10.000000,15.392857,8.829384,88.293840,0.849925
10,21823,212,35,117.993334,75.588496,108.863367,0.876497,11.666667,15.276304,8.174063,95.364068,0.808216
13,21822,212,35,91.150902,105.657972,98.101289,0.840632,11.666667,15.246135,5.748333,67.063885,0.735746
56,34536,212,371,91.335617,84.671817,79.817056,0.766824,96.333333,1.213363,0.617788,59.513577,0.651592
3,101120,212,35,116.095343,84.726862,121.180416,0.863353,6.333333,14.448980,10.785000,68.305000,0.588353
51,113016,212,371,92.000000,146.000000,157.000000,0.006800,8.333333,9.842857,5.640000,47.000000,0.510870
1,21824,212,35,116.022102,90.853203,104.057607,1.157446,7.666667,14.973333,7.591111,58.198518,0.501616
57,34541,212,371,101.954078,117.471251,123.942685,1.132393,79.333333,1.193784,0.621264,49.286944,0.483423

In [6]:
# brands
p.groupby('brand_id').count().iloc[:,1]

brand_id
35     14
128     7
348    30
371     8
423     5
424     5
Name: category_id, dtype: int64

In [7]:
# total width of all products
p['width'].sum()

6980.854214714101

In [8]:
### suggestion: add a column of 1/0 for product facings
### track total revenue, total width, products per brand